<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
      <form action="/setdata" method="post">
        <input name="urlencoded" type="text">
        <button type="submit"></button>
      </form>
      <form action="/setdata" method="post">
        <input name="txtencoded" type="text">
        <button type="submit"></button>
      </form>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
